@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link 
{
    @apply text-primary duration-300 hover:text-secondary ease-linear;
}

.side-bar 
{
    @apply py-5 z-10 bg-background fixed lg:sticky lg:top-[70px] lg:w-[200px] lg:h-full lg:px-2 top-[70px] left-0 h-[100%] min-h-[calc(100vh-70px)] overflow-hidden shadow-sideBarShadow duration-500 ease-linear;
}

.primary-btn 
{
    @apply rounded-md py-1 font-itim text-teal-50 my-3 cursor-pointer duration-300 hover:translate-y-[-2px] block w-[90%] max-w-[200px] mx-auto bg-[linear-gradient(45deg,#00E0FF,#FF3D8F)];
}

.drop-1, .drop-2 
{
    @apply absolute w-[1px] h-0 rounded;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.drop-1 
{
    @apply top-0 left-0;
}

.drop-2 
{
    @apply top-0 left-[100%]
}

.anime-container 
{
    @apply my-4 mx-auto grid grid-cols-1 justify-center gap-10 gap-y-5  md:grid-cols-2 md:justify-between lg:grid-cols-3  xl:grid-cols-4;
}

.btn 
{
    @apply bg-primary px-2 border-2 border-transparent w-[100px] hover:border-primary duration-300 ease-linear py-1 rounded-sm font-itim hover:bg-background hover:text-text;
}

@keyframes drop {
    0% 
    {
        height: 0px;
        background-color: #00E0FF;
        box-shadow: 0px 0px 4px 1px #00e0ff;
    }

    100% 
    {
        height: 100%;
        background-color: #FF3D8F;
        box-shadow: 0px 0px 4px 1px #ff3d8f;
    }
}