@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alice&family=Itim&display=swap');

@import "tailwindcss";

@theme 
{
    --font-albert : "Albert Sans", sans-serif;
    --font-itim : "Itim", cursive;
    --font-alice : "Alice", serif;

    --color-background : #F7F9FC;
    --color-text : #1F2937;
    --color-primary : #3B82F6;
    --color-secondary : #F472B6;
    --color-textShallow : #6B7280;
    --color-box : #8B5CF6;

    --breakpoint-xs : 360px;
    --breakpoint-sm : 460px;
    --breakpoint-md : 700px;
    --breakpoint-lg : 1024px;
    --breakpoint-xl : 1280px;
}

.primary-btn 
{
    background-image: linear-gradient(to left,#77A1D3, #79CBCA, #E684AE);
    @apply px-2 py-1 font-itim rounded-sm cursor-pointer transition-all duration-300;
}

.primary-btn:hover 
{
    background-image: linear-gradient(to right,#77A1D3, #79CBCA, #E684AE);
}

.link 
{
    @apply text-box font-alice hover:text-secondary duration-150;
}

.swiper-slide {
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: scale(0.85);
  opacity: 0.8;
}

.swiper-slide-active {
  transform: scale(100);
  opacity: 1;
  z-index: 10;
}

#anime-list 
{
    background: radial-gradient(circle, rgba(59, 130, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
}